
Desafio_Api/assets/css/pokedex.css
Desafio_Api/assets/js/main.js
Desafio_Api/assets/js/poke-api.js
Desafio_Api/assets/js/pokemon-model.js
Desafio_Api/index.html
Desafio_Componentes/a.png
Desafio_Componentes/b.png
Desafio_Componentes/index.html
Desafio_Componentes/Noticia.js
Desafio_Componentes/style.css
Desafio_CSS/
Desafio_jogo2/index.html
Desafio_jogo2/src/script/engine.js
Desafio_jogo2/src/styles/reset.css
Desafio_jogo2/src/styles/style.css
Desafio_jogo3/index.html
Desafio_jogo3/src/script/engine.js
Desafio_jogo3/src/styles/reset.css
Desafio_jogo3/src/styles/style.css
Desafio_jogo3/src/tunes/a.wav
Desafio_jogo3/src/tunes/d.wav
Desafio_jogo3/src/tunes/e.wav
Desafio_jogo3/src/tunes/f.wav
Desafio_jogo3/src/tunes/g.wav
Desafio_jogo3/src/tunes/h.wav
Desafio_jogo3/src/tunes/j.wav
Desafio_jogo3/src/tunes/k.wav
Desafio_jogo3/src/tunes/l.wav
Desafio_jogo3/src/tunes/o.wav
Desafio_jogo3/src/tunes/p.wav
Desafio_jogo3/src/tunes/s.wav
Desafio_jogo3/src/tunes/t.wav
Desafio_jogo3/src/tunes/u.wav
Desafio_jogo3/src/tunes/w.wav
Desafio_jogo3/src/tunes/y.wav
Desafio_jogo3/src/tunes/ç.wav
Desafio_jogo4/index.html
Desafio_jogo4/src/assets/audios/egyptian_duel.mp3
Desafio_jogo4/src/assets/audios/lose.wav
Desafio_jogo4/src/assets/audios/win.wav
Desafio_jogo4/src/assets/cursor/cursor.cur
Desafio_jogo4/src/assets/cursor/yamiyugicursorGLOW.png
Desafio_jogo4/src/assets/cursor/yugicursor.png
Desafio_jogo4/src/assets/favicon/Favicon.ico
Desafio_jogo4/src/assets/icons/card-back.png
Desafio_jogo4/src/assets/icons/card-front.png
Desafio_jogo4/src/assets/icons/dragon.png
Desafio_jogo4/src/assets/icons/exodia.png
Desafio_jogo4/src/assets/icons/eye.jpg
Desafio_jogo4/src/assets/icons/magician.png
Desafio_jogo4/src/assets/icons/millenium.png
Desafio_jogo4/src/assets/icons/millenium2.png
Desafio_jogo4/src/assets/rpg/background-image-golden.png
Desafio_jogo4/src/assets/rpg/background-image-golden2.png
Desafio_jogo4/src/assets/rpg/background-image-grey.png
Desafio_jogo4/src/assets/rpg/background-image.png
Desafio_jogo4/src/assets/rpg/border-image-golden.png
Desafio_jogo4/src/assets/rpg/border-image-golden2.png
Desafio_jogo4/src/assets/rpg/border-image-grey.png
Desafio_jogo4/src/assets/rpg/border-image.png
Desafio_jogo4/src/assets/rpg/button-background.png
Desafio_jogo4/src/assets/rpg/button-down.png
Desafio_jogo4/src/assets/rpg/button-golden-down.png
Desafio_jogo4/src/assets/rpg/button-golden-hover.png
Desafio_jogo4/src/assets/rpg/button-golden-left.png
Desafio_jogo4/src/assets/rpg/button-golden-right.png
Desafio_jogo4/src/assets/rpg/button-golden.png
Desafio_jogo4/src/assets/rpg/button-hover.png
Desafio_jogo4/src/assets/rpg/button.png
Desafio_jogo4/src/assets/rpg/checkbox-golden-off.png
Desafio_jogo4/src/assets/rpg/checkbox-golden-on.png
Desafio_jogo4/src/assets/rpg/checkbox-off.png
Desafio_jogo4/src/assets/rpg/checkbox-on.png
Desafio_jogo4/src/assets/rpg/hr-golden.png
Desafio_jogo4/src/assets/rpg/hr.png
Desafio_jogo4/src/assets/rpg/progress-bar-left.png
Desafio_jogo4/src/assets/rpg/progress-bar-right.png
Desafio_jogo4/src/assets/rpg/progress-bar-track.png
Desafio_jogo4/src/assets/rpg/progress-blue.png
Desafio_jogo4/src/assets/rpg/progress-green.png
Desafio_jogo4/src/assets/rpg/progress-red.png
Desafio_jogo4/src/assets/rpg/progress.png
Desafio_jogo4/src/assets/rpg/radio-golden-off.png
Desafio_jogo4/src/assets/rpg/radio-golden-on.png
Desafio_jogo4/src/assets/rpg/radio-off.png
Desafio_jogo4/src/assets/rpg/radio-on.png
Desafio_jogo4/src/assets/rpg/scrollbar-button.png
Desafio_jogo4/src/assets/rpg/scrollbar-thumb.png
Desafio_jogo4/src/assets/rpg/scrollbar-track.png
Desafio_jogo4/src/assets/rpg/select-background-image.png
Desafio_jogo4/src/assets/rpg/select-border-image.png
Desafio_jogo4/src/assets/rpg/slider-left-golden.png
Desafio_jogo4/src/assets/rpg/slider-left.png
Desafio_jogo4/src/assets/rpg/slider-right-golden.png
Desafio_jogo4/src/assets/rpg/slider-right.png
Desafio_jogo4/src/assets/rpg/slider-thumb-golden.png
Desafio_jogo4/src/assets/rpg/slider-thumb.png
Desafio_jogo4/src/assets/rpg/slider-track-golden.png
Desafio_jogo4/src/assets/rpg/slider-track.png
Desafio_jogo4/src/assets/video/yugi.mp4
Desafio_jogo4/src/scripts/engine.js
Desafio_jogo4/src/styles/buttons.css
Desafio_jogo4/src/styles/containers_and_frames.css
Desafio_jogo4/src/styles/main.css
Desafio_jogo4/src/styles/reset.css
Desafio_TypeScript/build/index.js
Desafio_TypeScript/build/teste.js
Desafio_TypeScript/package.json
Desafio_TypeScript/src/index.ts
Desafio_TypeScript/src/teste.ts
Desafio_TypeScript/tsconfig.json
