<div class="quizz__container">
  <div class="quizz_logo">
    <img src="../../../assets/imgs/logo.png" alt="" srcset="">
    <h3>{{title}}</h3>
  </div>
  <div *ngIf="!finished" class="quizz_questions">
    <h3>{{questionSelected.question}}</h3>
  </div>
  <div *ngIf="!finished" class="quizz_options">
    <button
    *ngFor="let i of questionSelected.options"
    (click)="playerChoose(i.alias)"
    class="btn-option">
    {{i.name}}
    </button>
  </div>
  <div *ngIf="finished" class="quizz_results">
    <h1>O seu resultado é: </h1>
    <p>{{answerSelecter}}</p>
  </div>
</div>
